 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 50px;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 

.sidenav hr {
	border-top: 1px solid #818181;
	margin-left:10px;
	margin-right:10px;
}

/* span */
.sidenav .sptitu {
	font-size:28px;
	color:#f4511e;
}
.sidenav span {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f4511e;
    display: block;
    transition: 0.3s
}
/*boton menu*/
.botonmenu {
  border-radius: 1px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 7px;
  width: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
      position: fixed;
      top: 120px;
      left: 0;
}

.botonmenu span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.botonmenu span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: -5px;
  right: -10px;
  transition: 0.5s;
}

.botonmenu:hover span {
  padding-right: 14px;
}

.botonmenu:hover span:after {
  opacity: 1;
  right: 0;
}



/*boton ayuda*/
.botonayuda {
  color: #fff;
  background-color: #31b0d5;
  border-radius: 1px;
  border: none;
  text-align: center;
  font-size: 24px;
  padding: 7px;
  width: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
      position: fixed;
      top: 180px;
      left: 0;
}